<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org/"
	xml:lang="en" lang="en">


	<body>
			<ul id="path">
				<li wicket:id="crumbs">
				</li>
			</ul>
			
			<span wicket:id="panel"></span>
			<form wicket:id="form">
				<input wicket:id="input"></input>
				<a wicket:id="save" href="#"></a>
			</form>
			<a wicket:id="next" href="#"></a>
			<a wicket:id="back" href="#"></a>
	</body>


</html>