<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd">
    <body>
        <div wicket:id="view1container">
            <div wicket:id="view1">
                <span wicket:id="name" />
            </div>
        </div>
        <div wicket:id="view2container">
            <div wicket:id="view2">
                <span wicket:id="name" />
            </div>
        </div>
        <a wicket:id="addView1">Add to first view</a>
        <a wicket:id="addView2">Add to second view</a>
    </body>
</html>